<!--Kayla-->
<h1>This is your schedule:</h1>
<div class="row">
       
    <% for (course of courses){%>
        <div class="bg-light m-5 p-2 border border-primary border-2"> 
            <a href="/schedule/remove/<%= course._id %>">X</a>
                <%= course.subject %>
                <%= course.coursenum %>
                <%= course.name %>
                Section <%= course.section %>
                <br>Intructor: <%= course.instructor %> </br>
                <p>Times: <%= course.strTimes %></p>
                Term: <%= course.term %>
                <p>
                    Enrollment: <%= course.enrolled %> enrolled out of <%= course.limit %> seats
                    <br><%= course.waiting %> students are on the waitlist</br>
                </p>
                <p>Details: <%= course.details %></p>
                <p>Description: <%= course.description %></p>
              
                
               
        </div>
    <% } %>
</div>

<!--
    <pre>
        <%= JSON.stringify(courses,null,5) %>
    </pre>
-->
